/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e84a54;
}

/* General styling */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 0 20px;
  height: 100%;
}

a.active {
  color: var(--primary-color) !important;
}

/* Navbar */
.main-nav {
  background: rgba(0, 9, 14, 0.7);
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(17px);
  z-index: 2;
  transition: all 0.4s ease;
}

.main-nav a {
  color: #fff;
}

.main-nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li a {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  transition: color 0.4s ease;
  font-size: 20px;
  font-weight: 300;
}

.main-nav ul li a:hover {
  color: var(--primary-color);
}

/* Utilities */
.btn {
  display: inline-block;
  min-width: 363px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
  background: var(--primary-color);
  transition: all 0.4s ease;
}

.btn:hover {
  background: #f15b65;
}

/* Header */
#hero {
  height: 100vh;
  background: url("img/landing-img.jpg") no-repeat center center/cover;
  position: relative;
}

#hero .header-content a#down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0.6;
  animation-name: up-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes up-down {
  0% {
    bottom: 90px;
  }
  100% {
    bottom: 30px;
  }
}

#hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 20, 32, 0.65);
}

#hero * {
  z-index: 1;
}

.header-content {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-content h1 {
  font-size: 64px;
  font-weight: 400;
}

/* About us */
#info {
  height: 700px;
  position: relative;
}

#info h2 {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #333;
}

#info .info-container {
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#info .row {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info .row .box {
  width: 400px;
  height: 358px;
  background: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin: 0 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#info .row .box i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  color: #fff;
  background: #eea394;
  font-size: 20px;
  margin-bottom: 20px;
}

#info .row .box:nth-child(2) i {
  background: #f4818b;
}

#info .row .box:last-child i {
  background: #efba30;
}

#info .row .box h3 {
  font-size: 20px;
  text-transform: uppercase;
}

#info .row .box p {
  padding: 20px;
  line-height: 1.7;
}

/* Pic sec */
#pic-sec {
  height: 525px;
  background: #f4f4f4;
  padding: 70px 0;
}

.pic-sec-second {
  flex-direction: row-reverse;
}

#pic-sec .pic-sec-container {
  display: flex;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#pic-sec .pic-sec-container > div {
  flex: 1;
  padding: 20px;
}

#pic-sec .pic-sec-container div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pic-sec .pic-sec-container div:first-child .btn {
  min-width: 480px;
}

#pic-sec .pic-sec-container div:first-child p {
  line-height: 1.8;
  max-width: 480px;
  text-align: justify;
  margin-bottom: 20px;
}

#pic-sec .pic-sec-container div:last-child {
  padding: 0 30px;
}

#pic-sec .pic-sec-container div:last-child img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* parallax */

#parallax {
  height: 352px;
  background: url("img/parallax.jpg") no-repeat center center/cover fixed;
  position: relative;
}

#parallax::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

#parallax .parallax-container {
  display: flex;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

#parallax * {
  z-index: 1;
}

#parallax .parallax-container > div {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 280px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#parallax .parallax-container > div h4 {
  font-size: 36px;
  font-weight: 300;
}

/* Footer */
#main-footer {
  height: 550px;
  background: url("img/footer-img.jpg") no-repeat center center/cover;
  color: #fff;
  border-top: 10px solid var(--primary-color);
}

#main-footer .footer-layout {
  position: relative;
}

#main-footer .footer-layout::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

#main-footer .footer-layout * {
  z-index: 1;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  max-width: 1500px;
  margin: 0 auto;
  height: 470px;
}

#main-footer .footer-container .footer-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-footer .footer-container .footer-row > div {
  flex: 1;
  text-align: center;
}

#main-footer .footer-container .footer-row > div:nth-child(2) p {
  line-height: 2;
  font-weight: 200;
}

#main-footer .footer-container .footer-row > div:nth-child(2) h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
}

#main-footer .footer-container .footer-row > div:nth-child(3) ul li {
  margin: 15px 0;
}

#main-footer .footer-container .footer-row > div:nth-child(3) ul li a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}

#main-footer .footer-container .footer-row > div:last-child i {
  margin-right: 10px;
  font-size: 18px;
}

#main-footer .reserved-part {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

#main-footer .reserved-part i {
  /* width: 35px;
    height: 35px;
    border-radius: 35px; */
  text-align: center;
  line-height: 35px;
  /* color: #000; */
  /* background: #fff; */
  font-size: 20px;
  margin: 0 10px;
}

#main-footer .reserved-part p {
  font-size: 20px;
  font-weight: 200;
}

/* Go up */

.go-up {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 25px;
  background: var(--primary-color);
  color: #fff;
  position: fixed;
  right: -100px;
  bottom: 70px;
  z-index: 4;
  cursor: pointer;
  transition: 0.5s;
}

.hamburger {
  display: inline-block;
  position: fixed;
  top: 18px;
  right: 30px;
  z-index: 6;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: #fff;
  margin: 5px 0;
  transition: 0.6s;
}

.opened .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.opened .bar2 {
  opacity: 0;
}

.opened .bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

/* Overlay menu */
.layout-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgba(0, 5, 10, 0.9);
  z-index: 5;
  transition: 0.6s;
}

.layout-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  opacity: 0;
}

.content-fullscreen {
  opacity: 1;
}

.layout-content a {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 300;
  transition: color 0.3s ease;
}

.layout-content a:hover {
  color: var(--primary-color);
}

.fullscreen {
  width: 100%;
}

/* --------------------------------Product----------------------------------- */

.legend {
  height: 634px;
  background: url("img/heading-img.jpg") no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.legend::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.legend * {
  z-index: 1;
}

.legend h2 {
  font-size: 64px;
  font-weight: 300;
}

.product-container {
  max-width: 1500px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

#product-content {
  height: 1300px;
  background: #f4f4f4;
  position: relative;
}

.product {
  display: flex;
  max-width: 1200px;
  margin: auto;
  background: #222;
  border-radius: 15px;
}

.product-title {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 36px;
}

.product > div {
  flex: 1;
  padding: 25px;
}

.product > div:first-child img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product > div:last-child {
  color: #a19a9a;
  text-align: center;
  padding: 20px 100px;
}

.product > div:last-child .product-name {
  font-family: "Rhodium Libre", serif;
  font-weight: 200;
  font-size: 36px;
  line-height: 0.4;
  padding: 20px 0;
}

.product > div:last-child .price {
  color: #fff;
  font-size: 50px;
  font-weight: 200;
}

.product > div:last-child .product-des {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  margin: 20px 0;
}

.selectors #flavors {
  width: 200px;
  height: 50px;
  background: #333;
  color: #a19a9a;
  font-size: 23px;
  padding: 0 20px 0 55px;
  border-radius: 10px;
  outline: none;
}

.selectors #flavors option {
  background: #222;
  font-size: 18px;
  color: #a19a9a;
}

.selectors div:first-child h4,
.selectors div:last-child h4 {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}

.product > div:last-child .selectors div:first-child .tomato,
.product > div:last-child .selectors div:last-child .product-num {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 1px solid #ddd;
  background: #333;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  color: #ddd;
}

.product > div:last-child .selectors div:last-child .product-num {
  width: 117px;
  border-radius: 50px;
}

.product > div:last-child .selectors div:last-child .min,
.product > div:last-child .selectors div:last-child .plus {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
  margin: 0 3px;
  transition: 0.3s;
}

.product > div:last-child .selectors div:last-child .min:hover,
.product > div:last-child .selectors div:last-child .plus:hover {
  background: #fff;
  color: var(--primary-color);
}

.product > div:last-child .selectors div:last-child > div {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product > div:last-child .selectors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.product > div:last-child hr {
  border: 1px solid #383636;
  margin-bottom: 20px;
}

.product > div:last-child .btn {
  border-radius: 50px;
}

/* Contact */

#contact-content {
  background: #f4f4f4;
}

.contact-container {
  padding: 300px 0 100px;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.contact-container h1 {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  text-transform: uppercase;
}

.team-members .card {
  flex: 1;
  flex-basis: 400px;
  height: 575px;
  background: #fff;
  margin: 0 20px;
  border-radius: 25px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.team-members .card img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  margin: 40px 0 30px;
}

.team-members .card h2 {
  font-size: 30px;
  font-weight: 300;
}

.team-members .card p {
  max-width: 330px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
  padding: 30px 0;
  font-weight: 300;
}

.team-members .card .social {
  position: absolute;
  width: 320px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.team-members .card .social i {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  background: var(--primary-color);
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
}

/* form */

.form-container {
  max-width: 1500px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  padding: 0 20px 100px;
}

.contact-form input {
  display: block;
  height: 50px;
  width: 100%;
  padding: 0 30px;
  font-size: 18px;
  margin: 20px 0;
  border: 1px solid #eee;
  background: #f4f4f4;
  border-radius: 10px;
  outline-color: var(--primary-color);
}

.contact-form input::placeholder {
  font-family: "Roboto", sans-serif;
}

.contact-form textarea {
  display: block;
  height: 150px;
  width: 100%;
  padding: 0 30px;
  font-size: 18px;
  margin: 20px 0;
  border: 1px solid #eee;
  background: #f4f4f4;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  padding: 20px 30px;
  resize: none;
  outline-color: var(--primary-color);
}

.contact-form h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
}

.orderPopUp, .send {
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: 0.4s;
  opacity: 1;
  display: none;
}

.orderContent, .sendcontent {
  min-width: 600px;
  height: 540px;
  background: rgb(36, 35, 35);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top:100px;
  left:50%;
  transform: translateX(-50%);
}

.orderContent img{
  border-radius: 10px;
  width: 100%;
  
}
